<h1>Edit <%= @back.exercise_name %></h1>
<form action="/backs/<%= @back.id %>/edit"  method="POST">
<h3>Repetitions: <input type="number" name="repetitions" placeholder="<%= @back.repetitions %>"></h3>
<h3>Weight: <input type="text" name="weight" placeholder = "<%= @back.weight %>"</h3>
<h3>Description: <input type="text" name="description" placeholder= "<%= @back.description %>">
<br>
<input type="submit" value="Save Changes">
</form>
