<h1><%= @leg.exercise_name %></h1>
<h3>Repetitions: <%= @leg.repetitions %></h3>
<h3>Weight: <%= @leg.weight %></h3>
<h3>Description:</h3>
<p><%= @leg.description %></p>
<div class="sidebar">
<a href="/legs/<%= @leg.id %>/edit"><button>Edit</button></a>
<br><br>
<form action="/legs/<%= @leg.id %>/delete" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>
</div>
