<h1>Edit <%= @tricep.exercise_name %></h1>
<form action="/triceps/<%= @tricep.id %>/edit"  method="POST">
<h3>Repetitions: <input type="number" name="repetitions" placeholder="<%= @tricep.repetitions %>"></h3>
<h3>Weight: <input type="text" name="weight" placeholder = "<%= @tricep.weight %>"</h3>
<h3>Description: <input type="text" name="description" placeholder= "<%= @tricep.description %>">
<br>
<input type="submit" value="Save Changes">
</form>
