<h1><%= @tricep.exercise_name %></h1>
<h3>Repetitions: <%= @tricep.repetitions %></h3>
<h3>Weight: <%= @tricep.weight %></h3>
<h3>Description:</h3>
<p><%= @tricep.description %></p>
<br><br>
<a href="/users/<%= current_user.id %>"><button>Main Menu</button></a>
<div class="sidebar">
<a href="/triceps/<%= @tricep.id %>/edit"><button>Edit</button></a>
<br><br>
<form action="/triceps/<%= @tricep.id %>/delete" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>
</div>
