<h1><%= @shoulder.exercise_name %></h1>
<h3>Repetitions: <%= @shoulder.repetitions %></h3>
<h3>Weight: <%= @shoulder.weight %></h3>
<h3>Description:</h3>
<p><%= @shoulder.description %></p>
<div class="sidebar">
<a href="/shoulder/<%= @shoulder.id %>/edit"><button>Edit</button></a>
<br><br>
<form action="/shoulder/<%= @shoulder.id %>/delete" method="POST">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>
</div>
