<h1>Edit <%= @chest.exercise_name %></h1>
<form action="/chests/<%= @chest.id %>/edit"  method="POST">
<h3>Repetitions: <input type="number" name="repetitions" placeholder="<%= @chest.repetitions %>"></h3>
<h3>Weight: <input type="text" name="weight" placeholder = "<%= @chest.weight %>"</h3>
<h3>Description: <input type="text" name="description" placeholder= "<%= @chest.description %>">
<br>
<input type="submit" value="Save Changes">
</form>
